@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tool_cards {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    justify-content: center;
  }
}